/** {border: 1px solid red;}*/

.fade-out {
	opacity: 0;
	transition: opacity 2s;
}
.fade-in {
	opacity: 1;
	transition: opacity 2s;
}

html, body {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

p {
	margin: 0 0 1em 0;
}

h3 {
	margin: 0 3em 0em 0;
}

strong {
	font-size: 105%;
}

a {
	text-decoration: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
}

a:hover {
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	transition: border-bottom 0.7s;
}

ul {
	padding: 0 1em 1em 1em;
	margin: 0;
}

li {
	list-style-type: none;
	padding: 0;
	margin-bottom: .5em;
}

img {
	width: 100%;
	border-style: none;
}

.container {
	position: relative;
}

.profile-pic-hidden {
		width: 0;
		height: 0;
		transition: width 2s, height 2s;
}

.top-container {
	background: #2183de;
	width: 100%;
	height: 100vh;
	border-bottom: 1px solid #777777;
	box-shadow: 0 0 20px #282828;
	background:
		linear-gradient(
			to right,
			rgba(33, 131, 222, .4),
			rgba(33, 131, 222, .9)
	  	),
	  	radial-gradient(circle at 6% 6%, #4799E3 25%, #2185DE 25%, #2185DE 45%, #0976D8 45%, #0976D8 70%, #1E64BE 70%);

	.top {
	position: relative;
	max-width: 900px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 3% 0 3%;
	box-sizing: border-box;
	color: #ffffff;

	.logo {
		width: 15vh;
	}

	.links {
		text-transform: uppercase;
		color: #ffffff;
		a {
			margin: 8px;
			padding: 0 0 3px 0;
			color: #ffffff;
		}
	}
}

	.intro {
		position: relative;
		width: 75%;
		margin-right: auto;
		margin-left: auto;

		.name {

			margin-top: 4%;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}

		.title {
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}
	}
}

.skills {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	opacity: 1;
	transition: opacity 0.5s;
}

.skills-hidden {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s;
}

.projects {
	max-width: 900px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	padding: 2% 3% 0 3%;
	box-sizing: border-box;

	.projects-feature {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-between;

		.project-item {
			display: block;
			position: relative;
			width: 30%;
			height: 30%;
			min-width: 150px;
			max-width: 250px;
			margin: 1em;
			border: 0;
			cursor:pointer;
			box-shadow: 0 0 20px #282828;

			img {
				display: block;
			}

			.project-overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 5%;
				background: rgba(80, 80, 80, 1);
				color: #ffffff;
				opacity: 1;
				z-index: 2;
				transition: opacity .5s;
				line-height: 120%;
				font-size: 90%;

				h3 {
					color: #4799E3;
				}

			}

			.project-overlay-hidden {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 5%;
				background: rgba(80, 80, 80, 1);
				color: #ffffff;
				opacity: 0;
				z-index: 2;
				transition: opacity .5s;
				line-height: 120%;
				font-size: 90%;

				h3 {
					color: #4799E3;
				}

			}
		}
	}
}

.modal-hidden {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: gray;
	transition: opacity .5s, visibility 0s;
	pointer-events: none;
}

.modal-visible {
	position: fixed;
	visibility: visible;
	opacity: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(50, 50, 50, .8);
	z-index: 5;
	transition: opacity .5s, visibility 0s;
}

.modal-content {
	p {
		font-family: 'Raleway', sans-serif;
	}

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #ffffff;
	border: 1px solid #ccc;
	opacity: 1;
	padding: 1%;
	line-height: 1.5em;
	overflow-y: hidden;
	overflow-x: hidden;

	.modal-header {
		position: relative;
		width: 100%;
	}

	.modal-close {
		position: absolute;
		right: 2%;
		top: 3%;
		vertical-align: center;
		cursor:pointer;
	}

	.title {
		position: absolute;
		left: 2%;
		top: 3%;
		vertical-align: center;
		font-size: 150%;
	}

	.modal-main {
		height: 80%;
		padding: 5%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	img {
		width: 70%;
		margin: 0 15% 0 15%;
	}
}

.description {
	text-align: justify;
}

.about-container {
	width: 100%;
	background: #ccc;
}

.about {

	h2 {
		font-family: 'Josefin Sans', sans-serif;
	}

	p {
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}

	li {
		text-align: left;
	}

	font-family: 'Raleway', sans-serif;
	max-width: 900px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 3% 3% 3%;
	line-height: 1.75em;
	word-spacing: .2em;
	text-align: left;
	box-sizing: border-box;

	.profile-pic {
		width: 30%;
		margin: .5em 1% 0 2%;
		img {
			border-radius: 100%;
		}
	}
}

.contact {
	max-width: 900px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	padding: 2% 3% 0 3%;
	box-sizing: border-box;
}

.contact-container {
	display: flex;
}

.contact-item {
	position: relative;
	width: 150px;
	height: 150px;
	background-color: #1E64BE;
	box-shadow: 0 0 20px #282828;
	transition: box-shadow 0.3s;
	margin: 1%;
	img {
		position: absolute;
		width: 70%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.contact-item:hover, .contact-item:hover {
	box-shadow: none;
	transition: box-shadow 0.3s;

}

.footer {
	font-size: 90%;
	font-style: italic;
	width: 100%;
	text-align: center;
	margin: 5% auto 5% auto;
}

.scrollPad {
	margin-right: 16px;
}


@media screen and (max-width: 500px) and (orientation: landscape) {

	.top-container {
		position: relative;
		min-height: 250px;
	}

	.intro {
		top: 17%;
		height: 70%;
		.title {
			font-size: 1em;
		}
	}

	.intro .profile-pic {
		width: 18vw;
		height: 18vw;
		border: 3px solid #ffffff;
		border-radius: 18vw;
		background: url(../images/ben_xsm.jpg) center;
		background-size: cover;
		margin-right: auto;
		margin-left: auto;
		transition: width 2s, height 2s;
	}

	.name {
		font-size: 2em;

	}

	.skills {
		margin-top: 7%;
		font-size: 1em;
	}

	.skills-hidden {
		margin-top: 7%;
		font-size: 1em;
	}

	.logo {
		display: none;
	}

	.header {
		position: absolute;
		top: 2%;
		right:0;
		width: 90%;
		padding: 0;
	}

	.nav {
		text-align: right;
		margin: 2%;
	}

	.links {
		position: relative;
		bottom: 5%;
		text-align: center;
	}

	.about {
		.profile-pic {
			float: right;
		}
	}

	.modal-content {
		width: 90vw;
		height: 85vh;
	}

	.modal-header {
		height: 12%;
	}

	.contact-container {
		flex-direction: row;
		justify-content: space-around;
	}
}

@media screen and (max-width: 800px) and (min-width: 501px) and (orientation: landscape) {

	.top-container {
		position: relative;
		min-height: 300px;
	}

	.intro {
		top: 17%;
		height: 80%;
		.title {
			font-size: 1.25em;
		}
	}

	.intro .profile-pic {
		width: 15vw;
		height: 15vw;
		border: 4px solid #ffffff;
		border-radius: 15vw;
		background: url(../images/ben_xsm.jpg) center;
		background-size: cover;
		margin-right: auto;
		margin-left: auto;
		transition: width 2s, height 2s;
	}

	.name {
		font-size: 2em;
	}

	.skills {
		margin-top: 3%;
		font-size: 1.25em;
	}

	.skills-hidden {
		margin-top: 3%;
		font-size: 1.25em;
	}

	.logo {
		display: none;
	}

	.header {
		position: absolute;
		top: 2%;
		right:0;
		width: 80%;
		padding: 0;
	}

	.nav {
		text-align: right;
		margin: 2%;
	}

	.links {
		position: relative;
		bottom: 5%;
		text-align: center;
		margin: 2%;
	}

	.about {
		.profile-pic {
			float: right;
		}
	}

	.contact-container {
		flex-direction: row;
		justify-content: space-around;
	}

	.modal-content {
		width: 90vw;
		height: 90vh;
	}

	.modal-header {
		height: 12%;
	}

}

@media screen and (max-width: 324px) and (orientation: portrait){

	.intro {
		position: absolute;
		margin-top: 35%;
		height: 50%;

		.title {
			font-size: 1em;
		}

	}

	.intro .profile-pic {
		width: 40vw;
		height: 40vw;
		border: 3px solid #ffffff;
		border-radius: 40vw;
		margin-bottom: 10%;
		background: url(../images/ben_sm.jpg) center;
		background-size: cover;
		margin-right: auto;
		margin-left: auto;
		transition: width 2s, height 2s;
	}

	.name {
		font-size: 2em;
	}

	.skills {
		margin-top: 15%;
		font-size: 1em;
	}

	.skills-hidden {
		margin-top: 15%;
		font-size: 1em;
	}

	.logo {
		display: none;
	}

	.header {
		position: absolute;
		top: 2%;
		left: 0;
		right:0;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	.nav {
		text-align: center;
		margin: 4%;
		font-size: 90%;
	}

	.links {
		position: relative;
		bottom: 5%;
		text-align: center;
	}

	.about {
		.profile-pic {
			width: 60%;
			margin: 0 20% 0 20%;
			clear: both;
			text-align: center;
		}
	}

	.contact-container {
		flex-direction: column;
		align-items: center;

		.contact-item {
			margin: 1em auto 1em auto;
		}
	}

	.modal-content {
		width: 90vw;
		height: 95vh;
	}

	.modal-header {
		height: 10%;
	}

}

@media screen and (max-width: 500px) and (min-width: 325px) and (orientation: portrait){
	.intro {
		position: absolute;
		top: 20%;
		height: 50%;
		.title {
			font-size: 1.2em;
		}
	}

	.intro .profile-pic {
		width: 40vw;
		height: 40vw;
		border: 4px solid #ffffff;
		border-radius: 40vw;
		margin-bottom: 10%;
		background: url(../images/ben_1x.jpg) center;
		background-size: cover;
		margin-right: auto;
		margin-left: auto;
		transition: width 2s, height 2s;
	}

	.name {
		font-size: 3em;
	}

	.skills {
		margin-top: 10%;
		font-size: 1.2em;
	}

	.skills-hidden {
		margin-top: 10%;
		font-size: 1.2em;
	}

	.logo {
		display: none;
	}

	.header {
		position: absolute;
		top: 2%;
		left: 0;
		right:0;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	.nav {
		text-align: center;
		margin: 4%;
		font-size: 105%;
	}

	.links {
		position: relative;
		bottom: 5%;
		text-align: center;
	}

	.about {
		.profile-pic {
			width: 60%;
			margin: 0 20% 0 20%;
			clear: both;
			text-align: center;
		}
	}

	.contact-container {
		flex-direction: column;
		align-items: center;
		.contact-item {
			margin: 1em auto 1em auto;
		}
	}

	.modal-content {
		width: 90vw;
		height: 95vh;
	}

	.modal-header {
		height: 10%;
	}

}


@media screen and (min-width: 501px) and (orientation: portrait) {

	.intro .profile-pic {
		width: 195px;
		height: 195px;
		border: 5px solid #ffffff;
		border-radius: 100px;
		background: url(../images/ben_1x.jpg) center;
		background-size: cover;
		margin-right: auto;
		margin-left: auto;
		transition: width 2s, height 2s;
	}

	.intro {
		top: 15%;

		.title {
			font-size: 2em;
		}

		.name {
			font-size: 3em;
		}
	}

	.logo {
		min-width: 65px;
		max-width: 100px;
	}

	.skills-hidden {
		margin-top: 5%;
		font-size: 2em;
	}

	.skills {
		margin-top: 5%;
		font-size: 2em;
	}

	.header {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.links {
		position: absolute;
		bottom: 5%;
		right: 0;
	}

	.about {
		.profile-pic {
			float: right;
		}
	}

	.contact-container {
		flex-direction: row;
		justify-content: space-around;
		.contact-item {
			margin: 5% auto 5% auto;
		}
	}

	.modal-content {
		width: 70vw;
		height: 85vh;
	}

	.modal-header {
		height: 10%;
	}

}

@media screen and (min-width: 801px) and (orientation: landscape) {

	.top-container {
		min-height: 430px;
	}

	.logo {
		min-width: 65px;
		max-width: 100px;
	}

	.intro .profile-pic {
		width: 35vh;
		height: 35vh;
/*		min-height: 130px;
		min-width: 130px;*/
		border: 5px solid #ffffff;
		border-radius: 100%;
		background: url(../images/ben_1x.jpg) center;
		background-size: cover;
		margin-right: auto;
		margin-left: auto;
		transition: width 1s, height 1s;
	}

	.intro {
		margin-top: 5vh;
		.title {
			font-size: 1.5em;
		}
	}

	.name {
		font-size: 3em;
	}

	.skills-hidden {
		margin-top: 3%;
		font-size: 1.5em;
	}

	.skills {
		margin-top: 3%;
		font-size: 1.5em;
	}

	.header {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.links {
		position: absolute;
		bottom: 5%;
		right: 0;
	}

	.about {
		.profile-pic {
			float: right;
		}
	}

	.contact-container {
		flex-direction: row;
		justify-content: space-around;
	}

	.modal-content {
		width: 60vw;
		height: 85vh;
	}

	.modal-header {
		height: 6%;
	}

}

